
@{
    ViewData["Title"] = "Flexible Expenses";
    /*coloring the negative ammount of balance to red based on the site CSS:*/
    var balanceStr = ViewBag.balance?.ToString();
    double balanceValue = 0;

    double.TryParse(
        balanceStr?.Replace("$", "").Replace(",", "").Replace("(", "-").Replace(")", "").Trim(),
        out balanceValue
    );
    var balanceClass = balanceValue < 0 ? "negative-balance" : "";

    // Formatting balance
    var formattedBalance = balanceValue < 0
        ? $"-${Math.Abs(balanceValue):N2}"
        : $"${balanceValue:N2}";
}

@model List<MyBudget.Entity.FlexibleExpense>

<div class="text-center">
    <h1 class="display-4">Flexible Expenses</h1>
    <br />
    <hr />
    <br />
    <h4> Balance <span class="@balanceClass">@formattedBalance</span> </h4>
    <br />
    <h6>Total Flexible Expenses  @ViewBag.FlexibleExpenses </h6>
    <br />
    <a asp-controller="home" asp-action="FlexibleExpensesAddEdit" class="btn btn-primary">Add</a>
    <br />
    <br />
    <table class="flexible-expenses-table">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var FlexibleExpense in Model)
                {
                    <tr>
                        <td>
                            @FlexibleExpense.Description
                        </td>
                        <td>

                            @FlexibleExpense.Amount.ToString("C")
                        </td>
                        <td>
                        <small>
                            @FlexibleExpense.Date
                        </small>
                        </td>
                        <td>
                            <a asp-action="FlexibleExpensesAddEdit" asp-route-id="@FlexibleExpense.ID" style="text-decoration:none;" title="Edit">✎⠀</a>
                            <a asp-action="FlexibleExpensesDelete" asp-route-id="@FlexibleExpense.ID" style="text-decoration:none;" title="Remove">⨉</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
