@{
    ViewData["Title"] = "Income";
    /*coloring the negative ammount of balance to red based on the site CSS:*/
    var balanceStr = ViewBag.balance?.ToString();
    double balanceValue = 0;

    double.TryParse(
        balanceStr?.Replace("$", "").Replace(",", "").Replace("(", "-").Replace(")", "").Trim(),
        out balanceValue
    );
    var balanceClass = balanceValue < 0 ? "negative-balance" : "";

    // Formatting balance
    var formattedBalance = balanceValue < 0
        ? $"-${Math.Abs(balanceValue):N2}"
        : $"${balanceValue:N2}";
}

@model List<MyBudget.Entity.Income>

<div class="text-center">
    <h1 class="display-4">Income</h1>
    <br />
    <hr />
    <br />
    <h4> Balance <span class="@balanceClass">@formattedBalance</span> </h4>
    <br />
    <h6>Total Income  @ViewBag.Income</h6>
    <br />
    <a asp-controller="home" asp-action="IncomeAddEdit" class="btn btn-primary">Add</a>
    <br />
    <br />
    <table class="income-table">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Income in Model)
                {
                    <tr>
                        <td>
                            @Income.Description
                        </td>
                        <td>
                            @Income.Amount.ToString("C")
                        </td>
                        <td>
                            <small>
                                @Income.Date
                            </small>
                        </td>
                        <td>
                            <a asp-action="IncomeAddEdit" asp-route-id="@Income.ID" style="text-decoration:none;" title="Edit">✎⠀</a>
                            <a asp-action="IncomeDelete" asp-route-id="@Income.ID" style="text-decoration:none;" title="Remove">⨉</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
